.stat-icon{
    line-height: .6;
    width: 70px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    img{
        max-width: 70px;
        max-height: 55px;    
    }
}
.stat-items .stat-item{
    h1, h2,h3,h4,h5,h6{
        margin-bottom: 0;
        line-height: 1;
        @include font(mont, bold);
    }
}
.stat-item{
    text-align: center;
    &.column{
        padding: 30px;
    }
}

.stat-name{
    margin-top: 20px;
}